.todo {
  margin: 0;
  padding: 0;
  min-height: $card-height - 74px;
  list-style: none;
}

.todo__list {
  margin: 0;
  padding: 0;
}

.todo__checkbox {
  &:checked + .todo__label {
    text-decoration: line-through;
    color: $disabled-item-text-color;
  }
}

.todo__label {
  margin-left: 4px;
}

.todo__item {
  border-bottom: 1px solid $card-border-color;
  padding-top: 0;
  padding-bottom: 0;

  &:last-child {
    border-bottom: 0;
  }
}

.todo__item-add {
  padding-top: 0;
  padding-bottom: 0;
}
