.container {
  display: flex;
  height: 100vh;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  justify-content: center;
  align-items: center;
}

.mdl-card__supporting-text {
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.mdl-list__item-primary-content {
  position: relative;
}

.mdl-list__item-secondary-action {
  display: flex;
  flex-flow: row nowrap;
}

.mdl-list__item-avatar {
  max-width: 14px;
  max-height: 14px;
}

.mdl-textfield__input {
  padding-right: 4px;
  padding-left: 4px;
  letter-spacing: .04em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
}

.mdl-textfield__error {
  right: 3px;
  bottom: 3px;
  pointer-events: none;
}

.in-invalid {
  .mdl-textfield__input {
    border-color: $input-text-error-color;
  }

  .mdl-textfield__error {
    visibility: visible;
  }
}
